@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@100&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&family=Roboto:wght@100;300;400;500&display=swap');

@font-face {
  font-family:'Android';
  src: url('estilo/idroid.otf') format('OpenType'); 
  font-weight: normal;
}

/* 
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
      --cor1:    #c5ebd6;
      --cor2:    #83e1ad;
      --cor3:    #3ddc84;
      --cor4:    #2fa866;
      --cor5:    #1a5c37;
      --cor6:    #063d1e;

      --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
      --fonte-destaque: 'Bebas Neue';
      --fonte-android: 'Android';
}

*{
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--cor1);
  font-family: var(--fonte-padrao);
}

header {
  background-image: linear-gradient(to bottom, var(--cor4), var(--cor6) );
  min-height: 150px;
  height: auto;
  text-align: center;
}

header > h1 {
  color: white;
  padding-top: 30px;
  margin-bottom: 20px;
  font-family: var(--fonte-padrao);
  text-transform: uppercase;
  letter-spacing: 0.1mm;
  font-size: 36px;
  text-shadow:2px 2px 0  rgba(0, 0, 0, 0.424);
}

header > p {
  color: white;
  max-height: 500px;
  margin: auto;
  padding-bottom: 20px;
  text-shadow:2px 2px 0  rgba(0, 0, 0, 0.424);
}

nav{
  background-color: var(--cor6);
  text-align: center;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.439);
  padding-bottom: 10px;
}

nav a {  
  text-decoration: none;
  padding: 5px 10px;
  color: var(--cor3);
  font-weight: bold;
}

nav a:hover{
  color: black;
  background: var(--cor2);
  border-radius: 20px;
  box-shadow: 0 0 20px var(--cor1);
}

main {
  min-width: 300px;
  max-width: 1400px;
  background-color: whitesmoke;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 0 0 10px 10px ; /* modo diferente de definir as bordas bottom*/
  margin-top: 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.469);
}

main img {
  width: 90%;
  margin: 5px;
}

.pq {
  max-width: 340px;
  display: block;
  margin: auto;
}

main h1 {
  color: var(--cor6);
  font-family: var(--fonte-android);
  margin-bottom: 10px;
  font-size: 34px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.300);
}

main p{
  margin: 15px 0;
  text-align: justify;
  text-indent: 30px;
  line-height: 6mm;
  font-size: 1em;
}

main h2 {
  font-family: var(--fonte-android);
  color: var(--cor6);
  margin-bottom: 10px;
  margin-top: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.300);
  background-image: linear-gradient(to right, var(--cor2), transparent, transparent);
  border-radius: 22px;
  padding: 8px;
}

main a{
  background-color: var(--cor2);
  color: black;
  padding: 2px 6px;
  text-decoration: none;
}

main a:hover{
  color: blue;
  background-color: whitesmoke;
  text-decoration: underline;


}

.video{
  background-color: var(--cor6);
  margin: 0 -20px 20px;
  padding: 20px;
  padding-bottom: 58%;
  position: relative;
}

.video iframe{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
}

aside{
  background-image: linear-gradient(to top, var(--cor1), var(--cor4) );
  border-radius: 10px;
}

aside ul{
  list-style-position: inside;
  padding: 20px;
  columns: 2;
  list-style-type: '\2714\00A0';
}

aside h3{
  background-color: var(--cor6);
  color: white;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 5px 2px var(--cor6);
}

aside p{
  text-align: justify;
  margin: 10px;
}

footer {
  background-color: var(--cor6);
  color: white;
  text-align: center;
  font-size: 0.8em;
  padding: 8px;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.402);
}


footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover{
  text-decoration: underline;
  color: var(--cor2);
  
}